{% extends 'layout.html' %}

{% block title %}Productos{% endblock %}
{% block page_title %}PRODUCTOS{% endblock %}

{% block content %}

<div class="top-bar">
<div class="filters">
    <input type="text" placeholder="Buscar productos">

    <div class="select-container">
        <select>
            <option>Todas las categorías</option>
            <option>Electrónicos</option>
            <option>Muebles</option>
        </select>
        <i class="bi bi-caret-down-fill"></i>
    </div>
</div>

    <a href="{{ url_for('productos.nuevo') }}" class="btn-green">
    <i class="bi bi-plus-lg"></i>
    NUEVO PRODUCTO
</a>

</div>

<table>
    <thead>
        <tr>
            <th>PRODUCTO</th>
            <th>DESCRIPCIÓN</th>
            <th>CATEGORÍA</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>ACCIONES</th>
        </tr>
    </thead>

    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.categoria }}</td>
            <td>${{ "{:,.0f}".format(producto.precio) }}</td>
            <td class="{{ 'stock-bajo' if producto.stock <= producto.stock_minimo else 'stock-ok' }}">{{ producto.stock }}</td>
            <td>
                <button class="btn-edit">
                    <i class="bi bi-pencil"></i> Editar
                </button>
                <a href="{{ url_for('productos.eliminar', id_producto=producto.id_producto) }}" class="btn-delete">
                    <i class="bi bi-trash"></i> Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}